.request-a-quote {
  width: 100%;
  padding-bottom: 100px;
}

.hero-image {
  height: 100%;
  width: 100%;
  background-image: url('/public/images/mixer-long.jpg');
  /* Replace with your image path */
  background-size: cover;
  background-position: center;
}

.hero-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(6, 29, 67, 0.597);
}

.hero-text {
  position: relative;
  color: white;
  z-index: 1;
  max-width: 800px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.hero-text h1 {
  font-size: 2.5rem;
  /* Adjust heading size */
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1.25rem;
  /* Adjust paragraph size */
  margin-bottom: 2rem;
}

.button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  margin: 3rem auto;
}