.request-a-quote {
  width: 100%;
  padding-bottom: 150px;
}

.raq-image {
  height: 100%;
  width: 100%;
  background-image: url('/public/images/mixer-long.jpg');
  /* Replace with your image path */
  background-size: cover;
  background-position: center;
}

.raq-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(32, 29, 10, 0.456);
}

.raq-text {
  color: white;
  max-width: 800px;
  padding: 100px 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.raq-text p {
  font-size: 1.25rem;
  /* Adjust paragraph size */
  margin-bottom: 2rem;
}