#value-props .flex-container {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  align-items: center;
}

.value-prop {
  margin-bottom: 50px;
  max-width: 400px;
}

.value-prop:nth-child(3) {
  margin-bottom: 10px;
}

.value-prop h2 {
  font-size: 1.5rem;
  text-align: center;
}

.icon-delivered,
.icon-audio,
.icon-packages {
  margin: auto;
  margin-bottom: 20px;
  background-size: 100%;
  width: 100px;
  height: 100px;
  /* make black */
  filter: invert(1);
  border: none;
}

.icon-delivered {
  background-image: url('/public/icons/delivery_truck_speed.svg');
}

.icon-audio {
  background-image: url('/public/icons/graphic_eq.svg');
}

.icon-packages {
  background-image: url('/public/icons/package_2.svg');
}

.cta-container {
  display: flex;
  justify-content: center;
}


@media screen and (min-width: 1440px) {
  #value-props .flex-container {
    flex-direction: row;
    justify-content: space-around;
    overflow-x: auto;
    /* gap: 100px; */
  }

  .value-prop {
    margin-bottom: 0;
    padding: 0 20px;
    text-align: center;
  }


  
}