.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: #fff;
  text-align: center;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}